body {
  background: #fafafa;
  font-family: "Noto Sans CJK TC"; }

.labs-outter, .mdl-card, .product-image, .product-image a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .labs-outter > div.labs-grow, .mdl-card > div.labs-grow, .product-image > div.labs-grow, .product-image a > div.labs-grow {
    flex-grow: 1; }

.mdl-card__media {
  flex-grow: 1; }

.main-content {
  padding-top: 330px;
  background: url("../img/logo.svg") 4vw 90px no-repeat; }

.mdl-card__media {
  background-color: white; }

.mdl-card {
  min-height: 330px; }

.main-content {
  max-width: 900px;
  margin: 0 auto; }

.product-image a {
  text-decoration: none;
  box-sizing: border-box;
  flex-grow: 1;
  background: green;
  color: black;
  vertical-align: bottom; }

.avatar {
  display: flex;
  align-items: center;
  text-decoration: none; }
  .avatar img {
    width: 42px;
    height: 42px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.0980392);
    border-radius: 2px; }
  .avatar div {
    padding-left: 16px;
    text-decoration: none;
    display: inline-block; }
    .avatar div strong {
      color: rgba(0, 0, 0, 0.87); }
    .avatar div span {
      color: #757575; }
