/* line 3, ../scss/main.scss */
body {
  background: #fafafa;
  font-family: "Noto Sans CJK TC";
}

/* line 13, ../scss/main.scss */
.labs-outter, .mdl-card, .product-image, .product-image a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* line 17, ../scss/main.scss */
.labs-outter > div.labs-grow, .mdl-card > div.labs-grow, .product-image > div.labs-grow, .product-image a > div.labs-grow {
  flex-grow: 1;
}

/* line 27, ../scss/main.scss */
.mdl-card__media {
  flex-grow: 1;
}

/* line 38, ../scss/main.scss */
h1.mdl-card__title-text {
  display: none;
}

/* line 42, ../scss/main.scss */
a.logo {
  width: 200px;
  display: block;
  margin: 30px auto;
}
/* line 43, ../scss/main.scss */
a.logo img {
  width: 200px;
  height: 200px;
}

/* line 52, ../scss/main.scss */
.mdl-card__media {
  background-color: white;
}

/* line 56, ../scss/main.scss */
.mdl-card {
  min-height: 400px;
}

/* line 60, ../scss/main.scss */
.main-content {
  max-width: 900px;
  margin: 0 auto;
}

/* line 65, ../scss/main.scss */
.avatar {
  display: flex;
  align-items: center;
  text-decoration: none;
}
/* line 69, ../scss/main.scss */
.avatar img {
  width: 42px;
  height: 42px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.0980392);
  border-radius: 2px;
}
/* line 76, ../scss/main.scss */
.avatar div {
  padding-left: 16px;
  text-decoration: none;
  display: inline-block;
}
/* line 80, ../scss/main.scss */
.avatar div strong {
  color: rgba(0, 0, 0, 0.87);
}
/* line 83, ../scss/main.scss */
.avatar div span {
  color: #757575;
}

/* line 89, ../scss/main.scss */
.product-image {
  background: transparent;
}
/* line 92, ../scss/main.scss */
.product-image a {
  text-decoration: none;
  box-sizing: border-box;
  flex-grow: 1;
  background: transparent;
  vertical-align: bottom;
}

/* line 104, ../scss/main.scss */
.mdl-card.intro-card {
  background: #ff828f;
}
/* line 106, ../scss/main.scss */
.mdl-card.intro-card .mdl-card__media {
  background: #ff5e6f;
}
/* line 109, ../scss/main.scss */
.mdl-card.intro-card .mdl-card__supporting-text {
  color: white;
}
/* line 113, ../scss/main.scss */
.mdl-card.intro-card .issue-number {
  font-family: 'Roboto', sans-serif;
  font-style: 100;
  padding: 32px;
  color: white;
  font-size: 30px;
  line-height: 40px;
}
/* line 116, ../scss/main.scss */
.mdl-card.intro-card .issue-number span {
  opacity: 0.54;
  font-size: 24px;
}

/* line 134, ../scss/main.scss */
.product.full-card > .mdl-card__supporting-text {
  background: rgba(0, 0, 0, 0.3);
}
/* line 136, ../scss/main.scss */
.product.full-card > .mdl-card__supporting-text span {
  color: rgba(255, 255, 255, 0.6);
}
/* line 139, ../scss/main.scss */
.product.full-card > .mdl-card__supporting-text strong {
  color: white;
}

/* line 145, ../scss/main.scss */
.product > .mdl-card__supporting-text {
  background: white;
  padding-right: 10%;
}

/* line 153, ../scss/main.scss */
.post section {
  max-width: 520px;
  margin: 0 auto;
  padding: 16px 0 0 0;
  box-sizing: border-box;
}
/* line 158, ../scss/main.scss */
.post section p {
  font-size: 15px;
}
/* line 162, ../scss/main.scss */
.post .product-image a {
  height: 300px;
}

/* line 170, ../scss/main.scss */
.mdl-card.people .product-image {
  background: white;
}
/* line 173, ../scss/main.scss */
.mdl-card.people strong {
  color: rgba(0, 0, 0, 0.87);
  margin-right: 0.5em;
}
/* line 177, ../scss/main.scss */
.mdl-card.people .meta {
  margin-bottom: 1em;
}

/* line 184, ../scss/main.scss */
footer {
  margin-top: 80px;
}

/* line 188, ../scss/main.scss */
.footer-wrapper {
  padding-left: 16px;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 45px;
}
