// mdl layout scroll jank fix
.mdl-layout__content {
will-change:transform;
}


// 打折

span.red	{
	position: absolute;
	top: 6px;
	right: 6px;
	background: #FF3D00;
	color: white;
	padding: 4px 8px;
	font-size: 12px;
	border-radius: 2px;
	font-weight: bold;
}

// 一般

body {
	background: #fafafa;
	font-family: "Noto Sans CJK TC", sans-serif;
}


// Leo's 內容置底系統 Leo's Align Bottom System L.A.B.S
// - 使用方式：外部 div 加上 .labs-outter
// - 在裡面其中一個加上伸縮的 .labs-grow，如果沒有加，那麼全部 div 只會置底而已

.labs-outter {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  & > div.labs-grow {
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
  }
}

.mdl-card {
	@extend .labs-outter;
	// 把 mdl-card 自動加上置底
}

.mdl-card__media {
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	// media 區塊自動會伸縮
}

// 導覽列



// 內容與卡片基本設定

// 隱藏標題


a.logo {
	img {
		width: 200px;
		height: 200px;
	}
	width: 200px;
	display: block;
	margin: 30px auto;
}

.mdl-card__media {
  background-color: white;
}

.mdl-card {

	min-height: 350px;
	&.banner {
		min-height: 180px;
	}
}

.main-content {
	max-width: 900px;
	margin: 0 auto;
}

.avatar {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-decoration: none;
	img {
		width: 42px;
		height: 42px;
		display: inline-block;
		border: 1px solid rgba(0, 0, 0, 0.0980392);
		border-radius: 2px;
	}
	div {
		padding-left: 16px;
		text-decoration: none;
		display: inline-block;
		strong {
			color: rgba(0,0,0,0.87);
		}
		span {
			color: rgb(117, 117, 117);
		}
	}
}

.product-image {
	background: transparent;
	@extend .labs-outter;
	a {
		@extend .labs-outter;
		text-decoration: none;
		box-sizing: border-box;
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		background: transparent;
		vertical-align: bottom;
	}
}

// 介紹卡

.mdl-card.intro-card {
	background: lighten(#ff5e6f,7%);
	.mdl-card__media {
		background: #ff5e6f;
	}
	.mdl-card__supporting-text {
		color: white;
	}

	.issue-number {
		font-family: 'Roboto', sans-serif;
		font-style: 100;
		span {
			opacity: 0.54;
			font-size: 24px;			
		}
		padding: 32px;
		// text-align: center;
		color: white;
		font-size: 30px;
		line-height: 40px;
	}
}


// 每週標題


// 產品卡（滿版）

.product.full-card > .mdl-card__supporting-text {
	width: 100%;
	box-sizing: border-box;
	padding: 8px 12px;
	font-size: 12px;
	background: rgba(0,0,0,0.3);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	span {
		color: rgba(255,255,255,0.6);
	}
	strong {
		color: white
	}
}

// 產品卡（白底）
.product > .mdl-card__supporting-text {
	background: white;
	padding-right: 10%;
}

// 文章卡

.post {
	section {
		max-width: 520px;
		margin: 0 auto;
		padding: 16px 0 0 0;
		box-sizing: border-box;
		p {
			font-size: 15px;
		}		
	}
	.product-image a {
		height: 300px;
	}
}

// 商家卡

.mdl-card.people {
	.product-image {
		background: white;
	}
	strong {
		color: rgba(0,0,0,0.87);
		margin-right: 0.5em;
	}
	.meta {
		margin-bottom: 1em;
	}
}

// footer

footer {
	margin-top: 80px;
}

.footer-size {
	max-width: 900px;
	width: 100%;
	padding: 0 16px;
	box-sizing: border-box;
	margin: 0 auto;
}

.mdl-mini-footer__link-list li {

}

// Mobile 版

@media screen and (max-width: 640px) {


.issue-number {
	font-size: 24px;
	line-height: 30px;
	span {
		font-size: 20px;
	}
}

.mdl-card {
		min-height: 170px;
.people {
		min-height: 300px;
	}
}

	.mdl-typography--display-1, .mdl-typography--display-1-color-contrast {
		font-size: 24px;
		line-height: 30px;
	}
	a.logo {
		margin: 10px auto;
		text-align: center;
		img {
			width: 130px;
			height: 130px;
		}
	}
}

