// 一般

body {
	background: #fafafa;
	font-family: "Noto Sans CJK TC";
}


// Leo's 內容置底系統 Leo's Align Bottom System L.A.B.S
// - 使用方式：外部 div 加上 .labs-outter
// - 在裡面其中一個加上伸縮的 .labs-grow，如果沒有加，那麼全部 div 只會置底而已

.labs-outter {
	display: flex;
  flex-direction: column;
  justify-content: flex-end;
  & > div.labs-grow {
		flex-grow: 1;
  }
}

.mdl-card {
	@extend .labs-outter;
	// 把 mdl-card 自動加上置底
}

.mdl-card__media {
	flex-grow: 1;
	// media 區塊自動會伸縮
}

// 導覽列

// 內容與卡片基本設定

// 隱藏標題

h1.mdl-card__title-text {
	display: none;
}

a.logo {
	img {
		width: 200px;
		height: 200px;
	}
	width: 200px;
	display: block;
	margin: 30px auto;
}

.mdl-card__media {
  background-color: white;
}

.mdl-card {
	min-height: 400px;
}

.main-content {
	max-width: 900px;
	margin: 0 auto;
}

.avatar {
	display: flex;
	align-items: center;
	text-decoration: none;
	img {
		width: 42px;
		height: 42px;
		display: inline-block;
		border: 1px solid rgba(0, 0, 0, 0.0980392);
		border-radius: 2px;
	}
	div {
		padding-left: 16px;
		text-decoration: none;
		display: inline-block;
		strong {
			color: rgba(0,0,0,0.87);
		}
		span {
			color: rgb(117, 117, 117);
		}
	}
}

.product-image {
	background: transparent;
	@extend .labs-outter;
	a {
		@extend .labs-outter;
		text-decoration: none;
		box-sizing: border-box;
		flex-grow: 1;
		background: transparent;
		vertical-align: bottom;
	}
}

// 介紹卡

.mdl-card.intro-card {
	background: lighten(#ff5e6f,7%);
	.mdl-card__media {
		background: #ff5e6f;
	}
	.mdl-card__supporting-text {
		color: white;
	}

	.issue-number {
			font-family: 'Roboto', sans-serif;
			font-style: 100;
			span {
				opacity: 0.54;
				font-size: 24px;			
			}
			padding: 32px;
			// text-align: center;
			color: white;
			font-size: 30px;
			line-height: 40px;
	}
}


// 每週標題


// 產品卡（滿版）

.product.full-card > .mdl-card__supporting-text {
	background: rgba(0,0,0,0.3);
	span {
		color: rgba(255,255,255,0.6);
	}
	strong {
		color: white
	}
}

// 產品卡（白底）
.product > .mdl-card__supporting-text {
	background: white;
	padding-right: 10%;
}

// 文章卡

.post {
	section {
		max-width: 520px;
		margin: 0 auto;
		padding: 16px 0 0 0;
		box-sizing: border-box;
		p {
			font-size: 15px;
		}		
	}
	.product-image a {
		height: 300px;
	}
}

// 商家卡

.mdl-card.people {
	.product-image {
		background: white;
	}
	strong {
		color: rgba(0,0,0,0.87);
		margin-right: 0.5em;
	}
	.meta {
		margin-bottom: 1em;
	}
}

// footer

footer {
	margin-top: 80px;
}

.footer-wrapper {
	padding-left: 16px;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 45px;
}