body {
	background: #fafafa;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
}

.flex-grow {
	flex-grow: 1;
}

.flex-drop {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

// 導覽列

.logo {
	padding: 60px 0 40px 0;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	img {
		margin: 30px 0 40px 0;
	}
	.slogan {
		color: #f75e50;
		font-size: 13px;
		font-weight: bold;
		.small {
			font-weight: bold;
			font-size: 12px;
		}
	}
}



// 標題

// 側邊欄

// 內容

.main-content {
	max-width: 900px;
	margin: 0 auto;
}

.picks-intro {
	& > .mdl-card__title {
		background: url('../img/drop.png') center center no-repeat;
		background-size: cover;
	}
}

.product-image > a {
	min-height: 150px;
	box-sizing: border-box;
	width: 100%;
	padding: 24px;
	cursor: pointer;
}