
div {

}

// Leo's 內容置底系統 Leo's Align Bottom System L.A.B.S
// - 使用方式：外部 div 加上 .labs-outter
// - 在裡面其中一個加上伸縮的 .labs-grow，如果沒有加，那麼全部 div 只會置底而已

.labs-outter {
	display: flex;
  flex-direction: column;
  justify-content: flex-end;
  & > div.labs-grow {
		flex-grow: 1;
  }
}

.inner-1 {
	background: green;
	height: 150px;
}

.inner-2 {
	background: #ffc0cb;
	height: 150px;
}

.inner-3 {
	background: #4b0f82;
	height: 50px;
}