<!doctype html>
<html class="no-js" lang="">
    <head>
      <meta charset="utf-8">

      <!-- Material Design -->
      <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue_grey-pink.min.css" /> 
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

      <!-- Leo's Design -->
      <link rel="stylesheet" href="css/main.css">

    </head>
    <body class="ad">
      <%= yield %>
    </body>
</html>
