<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">
 冬日暖暖折扣！<!-- 
<br><small>想加入嗎？在自己的商店頁面點擊「我要推廣」就好了。</small>
 -->  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/198177/medium_thumb_b37fca40e01cc7d3559af5c5adaf37.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 9 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/53156"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
波蘭Emalia Olkusz 茶壺 1.3L
  </div>
</div>


<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/199076/medium_thumb_1c8033d9f5c2153bc8915fe1a61174.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 9 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/53352"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
波蘭Eamlia Olkusz 經典單柄牛奶鍋 1L 紅/橘

  </div>
</div>

<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/198158/medium_thumb_8e3a52c6e748af21325533a983464f.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 9 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/53153"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
波蘭Emalia Olkusz 琺瑯咖啡壺杯組 /蘋果紅

  </div>
</div>

<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/197888/medium_thumb_f31960761285d122dee47f51771152.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 88  折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/52994"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    Panasonic EH-NA97-W 美髮吹風機

  </div>
</div>

<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/199801/medium_thumb_d17504a7fd78a541efcbcdef3c5226.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 8 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/53548"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    [預購特價]台灣櫸木咖啡手沖架-DripU適用多種濾杯/可做冰滴咖啡


  </div>
</div>

<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/199803/medium_thumb_cb42e827127cb2449955f4bb92d7fd.JPG"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 8 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/46645"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    ✨首賣✨ 亮白版Drip-U 愛樂壓Aeropress 咖啡手沖架-304不鏽鋼材質


  </div>
</div>

<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/199807/medium_thumb_de25504b1cc3389a5c52781e6b0d21.JPG"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 8 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/46646"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    ✨首賣✨ 消光黑版Drip-U Aeropress愛樂壓咖啡手沖架-304不鏽鋼材質


  </div>
</div>

<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/173041/medium_thumb_b6531ae3b09477d51e6ecd3d48bf54.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 8 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/46796"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
[現貨特價]南洋檜木咖啡手沖架-DripU 適用V60 Kono Kalitta濾杯/可做冰滴咖啡

  </div>
</div>

<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/199781/medium_thumb_9c6ba88d8ecf17034304b8ea0e8f5d.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 8 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/53546"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
[預購特價]胡桃木咖啡手沖架-DripU適用多種濾杯/可做冰滴咖啡

  </div>
</div>


<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/195041/medium_thumb_4c468b3b16999fd9578189576d5f77.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 9 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/52301"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    Gigastone iPhone接頭 & microUSB接頭 二合一精緻高速傳輸充電線1M


  </div>
</div>

<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/194876/medium_thumb_4c468b3b16999fd9578189576d5f77.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 85 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/52277"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
Team十銓 WP12800超大容量雙輸出快充行動電源

  </div>
</div>

<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/194912/medium_thumb_4c468b3b16999fd9578189576d5f77.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 9 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/52281"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    高規4.8A雙USB快充型車充


  </div>
</div>

<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/194892/medium_thumb_4c468b3b16999fd9578189576d5f77.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 85 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/52279"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
V-smart airdisk超薄型WIFI無線隨身碟-32GB(適用iOS/Android)

  </div>
</div>

<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/195768/medium_thumb_4c468b3b16999fd9578189576d5f77.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 9 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/52473"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
Gigastone P5K-100I 極致超薄行動電源10000mAh (金、銀、藍三色)

  </div>
</div>

<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/194930/medium_thumb_88a5d4f503b26504ed25f8cf38a0b9.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 9 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/52283"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    LEGO 樂高 積木隨身碟 16GB (2種款式)

  </div>
</div>

<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/196391/medium_thumb_fe3a7121ac03c4875d2fd295c68d4e.JPG"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 57 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/52633"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    《Chines New year吉祥話吉祥畫 》系列雕畫


  </div>
</div>

<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/196443/medium_thumb_812a508d988d7a18fd70621ffa6e36.JPG"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 5 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/52678"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
Soul Maker讓愛飛翔 書籤

  </div>
</div>

<!---  -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/196397/medium_thumb_90012bb756a57cf2b7e1e685ccc78a.JPG"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red"> 5 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/52669"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
Chines New year雕畫系列《立體燈籠吉祥話 吉祥畫》

  </div>
</div>