<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">
 年節送禮不煩惱
<br><small>第一次送禮就上手！年節最夯伴手禮推薦</small>
  </h1>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/32422/medium_thumb_0c7c5ccc0bbe9cb87e437bd57ecb4a.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/9091"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
抽籤絲

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/34484/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/1602"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    南法鄉村鹹肉


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/173146/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/46817"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
美丞🛍【鈔票煎餅禮盒】萬萬煎餅

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/21515/medium_thumb_28cfaf670ff8b1791575105d523e40.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/5780"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    【元榆牧場】原味滴雞精20入


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/154693/medium_thumb_04116c2d0c07ac5f486e9f8221567c.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/42506"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
一把青 ✵ 無糖芒果乾(大包)

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/156659/medium_thumb_f48633f6bfd7fe1a498201aae9f00a.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/42946"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    五桔國際 日式輕食綜合蔬果300g


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/167101/medium_thumb_d65b7cee4b369f438b66527a74522c.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/39220"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
極香港式蘿蔔糕 - 虱目魚口味

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/129533/medium_thumb_8775ab4917b99f9827ca04fd5797c5.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/36317"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
會跑的石像們

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/148632/medium_thumb_e5b746936990f2ed2226bde87af719.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/40981"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    (日本貨)日光三小猴餅乾


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/128406/medium_thumb_0ebf4ba5261062d892e4aa0bc0d935.png"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/36018"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    【檸檬果乾組】直接吃檸檬乾*2 共2包/組


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/183609/medium_thumb_4c650065fa4982992c6fa54cf2e599.png"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/49240"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
石虎方巾X 石虎米組合 (第一次出貨日 1/15)

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/176451/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/47618"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
  12/29抹茶牛奶抹醬(預購)
  

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/176879/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/47699"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    ［香港代購］Jenny's Bakery 珍妮曲奇～可先下單


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/176906/medium_thumb_f1b38c25f58c64fb3910e4bbcd1868.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/47702"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    ✿新春猴年牛奶糖✿ 春酒 尾牙 年節禮品 開工禮 開市禮 可上公司商標唷！


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/179665/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/48295"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
慈瑩美食館🍭幾米烘焙 #西瓜土司禮盒裝#1/7結單

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/131528/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/36742"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
長頸鹿吐司

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/53159/medium_thumb_b4a1bdb3c92a6c59e8a372f7913c8d.JPG"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/13984"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
私房烏龍茶／立體茶包

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/32427/medium_thumb_b56448dde06cd5fabcb483f870bd7f.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/9093"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
恆春三寶之港口茶

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/177484/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/47839"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
蜜香, 好舒壺

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->













































<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/167112/medium_thumb_117abfe34bac029ead38fd77276b21.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/45363"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    甘海老刺身級帶殼甜蝦(1kg/盒 約41-45隻)
  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/98883/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/28183"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
手日中秋好禮 三品茶組禮盒


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/125446/medium_thumb_9600c1405e0eab7cd0a8139a4520cb.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/30251"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
月兔乳酪禮盒-大人組合6入


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/39672/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/11307"

      >

    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
[加購] 艾皂坊自選手工皂六入禮盒 (不含皂)台灣
  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/65491/medium_thumb_9553fa92b105d6cf97d8c3682bd061.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/18487"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
《Bourbon北日本》迪士尼圓罐餅乾禮盒-奶油口味-日本高帽子婚禮喜餅!

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/29239/medium_thumb_8b9304a21b39dfbd6d5dee66ea4824.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/8180"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
茶客林嚴選 303頂尖對決禮盒組

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/9678/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/2531"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
日日昌烏魚子(225公克禮盒包裝含運費)

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/152399/medium_thumb_0e783725b5623a4718c2bf0ffafb80.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/23671"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
【幸福果舖 TASTE SWEETY】四季水果乾-好事成雙禮盒組


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/158451/medium_thumb_e289ad10cc5c2619c8937cb3bb7969.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/43443"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
日本松葉蟹禮盒免運組(淨重1kg/盒)--【季節限定】


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/119417/medium_thumb_654cf269d7925e4eb564f416fcd5ee.JPG"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/33699"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
天然染手帕禮盒(4入)

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/86832/medium_thumb_5cd90f53f30ada015b7e37b9ee1cb6.JPG"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/24374"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
日本原裝進口餅乾葡萄酒禮盒


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/31348/medium_thumb_ca1c7fdb2d219479affc49b2205c43.jpeg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/8750"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
日本 Shinzi Katoh 加藤真治 黑貓 禮盒 濾網茶壺 + 茶杯組 (付茶匙)

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/91910/medium_thumb_54b1a9143bb4ca75b8fb01467b068a.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/25874"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
LADUREE 鑰匙圈禮盒-大紅


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/145321/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/40165"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
Disney 👑公主沐浴禮盒組


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/162378/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/44324"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
祝賀紅包〔心想事成-紅〕香港利是封 過年 壓歲錢 新年開運 招財 禮金 結婚 吉祥話

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/18611/medium_thumb_469ec490e0447fbfd49817c18afb11.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/4965"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
░Go2荷蘭餅░精緻禮盒

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/169369/medium_thumb_f208bed1866dad75c37122780d418d.JPG"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/44866"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
手工布紅包袋/筆袋


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/23913/medium_thumb_cf2d61ca5fd282963dc6d31e54b8a8.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/6555"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
Zakka-紅色點點蕾絲愛心馬克杯/水杯/咖啡杯


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/134194/medium_thumb_4c468b3b16999fd9578189576d5f77.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/37330"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
【ANITA手作工坊】限量 ‧微笑招財貓 x 小紅包 手工真皮質感鑰匙包/零錢包-特價
 

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/21964/medium_thumb_2349f5d48da9677190f52db47f8450.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/5937"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
KINTO Couleur 茶壺 (紅色)

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/13376/medium_thumb_be7678e427b1abacda3a0b3d9292e0.jpeg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/3497"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
±0 深澤直人 單片 烤麵包機 紅色


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/102383/medium_thumb_614c01811904bcf1b552412bdafad0.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/26696"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
多緣成家 《紅包三件組》


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx --><!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/46903/medium_thumb_27d88d8ecf8111eade6fbfbb205935.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/13294"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
DECOLE 一富士二鷹三茄子 - 紅色


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx --><!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/110712/medium_thumb_dec9dd75ff56d055f8f9153c0c1e9d.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/31432"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
PaPa Bifano 畢法諾義大利肉醬(售價:600，12/31前慶賀媒體一致推薦，嘗鮮價399元)


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx --><!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/166518/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/45236"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
小寶寶拜年口水巾


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx --><!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/57038/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/16124"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
Vis jam 義大利原裝進囗禮盒


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx --><!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/19467/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/5207"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
十三香手作椒麻辣油

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx --><!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/151374/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/41648"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
JDI0246-哇～開始推出幾款超可愛的紅包袋。這次採用吸釦唷！超可愛的。


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx --><!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/135835/medium_thumb_bfcd8ee3ddf64e027665f33f382c76.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/37760"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
MSBR Leather [X]方形零錢包/Coin Case/鑰匙包/義大利皮革純黃銅五金(紅色)


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx --><!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/11423/medium_thumb_f5e5ab128c2f93c1c34df01218a153.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/2920"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
hightide 帆布 筆袋 紅色


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx --><!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/81932/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/23006"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
Folli Follie紅色長夾/龐克鉚釘飾邊/平價精品


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->