<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">
 聖誕手打嚴選禮<br><small>幸鮮水產 × PapaBifano</small>
  </h1>
</div>

<div style="min-height: 100px; height: auto;" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone "><iframe src="https://player.vimeo.com/video/148968189" width="400" height="160" frameborder="0" allowfullscreen="" data-reactid=".0.0.4.2:0.0.0"></iframe></div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/166801/medium_thumb_01a81fcd39bb75bb1ec370191a3a3f.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red">影片食材</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/45209"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
''手殘男女化身食神眷侶"~聖誕創意海鮮肉醬組合包(特價999元 免運費)

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/167112/medium_thumb_117abfe34bac029ead38fd77276b21.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/45363"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    甘海老刺身級帶殼甜蝦(1kg/盒 約41-45隻)
  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/110712/medium_thumb_dec9dd75ff56d055f8f9153c0c1e9d.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/31432"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    PaPa Bifano 畢法諾義大利肉醬(售價:600，12/31前慶賀媒體一致推薦，嘗鮮價399元)


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/167082/medium_thumb_3adf8f3d49ad16f06782e031ecbcbc.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/45355"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    鮮甜刺身級 Jumbo Size 加拿大牡丹蝦(1kg/盒 16-20尾)


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/155875/medium_thumb_743345ba41679e0e43c36e631ff479.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/42784"

      >
      台灣活凍生白蝦‬ (250g±5%/盒 約12-15尾)貼心小包裝

    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/163125/medium_thumb_01573a16f33205354cc3ad18b8ee00.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/44521"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
紐西蘭半殼淡菜(800g/盒 約26-32顆)

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/154805/medium_thumb_86eea883ab93e96cdde1247dc86727.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/42552"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
南美活凍生白蝦 (1.2kg±5%/盒 約50-55尾)

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/155418/medium_thumb_01573a16f33205354cc3ad18b8ee00.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/42669"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
急凍肥美草蝦 (330g±5%/盒 12尾)

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/163156/medium_thumb_61609867860eca8de107d8b3b68a69.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/42966"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    頂級日本醬漬鮭魚卵 (500g±5%/盒)


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/154030/medium_thumb_01573a16f33205354cc3ad18b8ee00.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/42304"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    大份量魷魚圈‬(1000g±10%/包)


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/153667/medium_thumb_86eea883ab93e96cdde1247dc86727.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/42207"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
挪威大規格薄鹽鯖魚 (200g±10%/片)

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/153636/medium_thumb_3adf8f3d49ad16f06782e031ecbcbc.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/42203"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    嚴選特大秋刀魚(800g±5%/5尾)


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/161023/medium_thumb_117abfe34bac029ead38fd77276b21.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/44032"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
大規格鱸魚菲力(350g±5%/片)

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/158451/medium_thumb_e289ad10cc5c2619c8937cb3bb7969.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/43443"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    日本松葉蟹禮盒免運組(淨重1kg/盒)--【季節限定】


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/153471/medium_thumb_3adf8f3d49ad16f06782e031ecbcbc.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/42171"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    宜蘭山泉爆卵母香魚 (1000g±5%/8尾/盒)


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/159959/medium_thumb_04116c2d0c07ac5f486e9f8221567c.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/43736"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
大份量頂級藍鑽蝦 (2kg/盒)

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/166811/medium_thumb_b7a1a55436497257f58bc64093a5fd.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/45305"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
澎湖野生大明蝦(450g/盒/6-7尾)

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/166987/medium_thumb_65282ecedc8c109cc275b60d339510.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/45337"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    單凍安心白蝦仁(500g/包)


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/167181/medium_thumb_b7a1a55436497257f58bc64093a5fd.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/45386"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    日式生食級甜蝦(50尾/盒)


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/167042/medium_thumb_1c36408c0d6213256b2ad5775c6981.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/45344"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   大尾生食級天使紅蝦(2kg/盒)
 

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/156589/medium_thumb_b75584691999101fc14ae4b5d53951.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/42937"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
加拿大波士頓龍蝦 *1隻( 600g±10%/隻 )

  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

  data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/165561/medium_thumb_3adf8f3d49ad16f06782e031ecbcbc.jpg"

  style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

      href="https://solda.io/products/45064"

      >
      
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    綿密口感福氣魚卵(150g/條)


  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxx -->