<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo"><img src="img/solda-logo.svg" alt=""></div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="https://solda.io">手打拍賣官方網站</a></li>
      <li><a href="https://www.facebook.com/SoldaApp">Facebook 粉絲專頁</a></li>
      <li><a href="https://solda-app.uservoice.com/">支援服務</a></li>
      <li><a href="mailto: hello@solda.io">合作聯繫</a></li>
    </ul>
  </div>
</footer>