<!doctype html>
<html class="no-js" lang="">
    <head>
      <%= render :partial => "header" %>
    </head>
    <body class="mobile">

      <div class="mdl-layout__container big-bg">

        <div class="mdl-layout mdl-js-layout">


          <!-- 內容 -->
          <main class="mdl-layout__container">


            <div class="mdl-grid main-content">

            <div class="mdl-cell mdl-cell--12-col">
              <a href="#" class="logo"><img src="img/logo2.svg" alt=""></a>
            </div>

            <%= yield %>

            </div><!-- grid -->

            <%= render :partial => "footer" %>

          </main>

        </div><!-- main-content -->

      </div>

    </body>
</html>