<!doctype html>
<html class="no-js" lang="">
    <head>
      <%= render :partial => "header" %>
    </head>
    <body class="mobile">

      <div class="mdl-layout__container big-bg">

        <div class="mdl-layout mdl-js-layout">


          <!-- 內容 -->
          <main class="mdl-layout__container">


            <div class="mdl-grid main-content">

            <%= yield %>

            </div><!-- grid -->


          </main>

        </div><!-- main-content -->

      </div>

    </body>
</html>