<div class="mdl-card banner" style="width: 100%; height: 100%;">
  <div class="mdl-card__media product-image b-lazy" style="background-image: url('img/banner3.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;" >
    <a href="https://solda.io/featured" target="_blank">
      <div class="mdl-card__title" style="padding-left: 32px;">
        <h1 class="mdl-typography--headline mdl-color-text--white"><small>好物第二期</small><br/>給貓奴的禮物</h1>
      </div>
    </a>
  </div>
</div>