




<div class="week-title mdl-cell mdl-cell--12-col">
  <h1 class="mdl-typography--display-1">
    2015 臺灣月 - 思臺灣<br><small>我想，我做，我同世界一齊玩</small>
  </h1>
  <p class="mdl-typography--body">台灣月十歲，以結合理性與感性的「思」字為主題，揉合港台兩地的文創合作，今年十月在香港呈現藝文盛宴。「<a href="http://www.campobag.com">Campobag 擺攤人生</a>」，廣邀 70 家台灣文創團隊到香港 PMQ  元創坊駐場擺賣一個月。部分參展團隊和手打拍賣 合作，除了在擺攤時能和香港客人實際交流，也可以輕鬆使用行動拍賣 App 獲得更多線上互動，展現台灣人的熱情！</p>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/yinke" onClick="Android.showStore(4640);"  style="background: url('img/two/yin.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>yinke</strong>
    </div>
    Yinke Studio，有著服飾，明信片，小袋子，項鍊，小貼紙等產品，皆由創...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/yin1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33296"  onclick="Android.showproduct(33296);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    ❃小溪、海、細沙肩背帆布袋（藍系/粉系）兩個尺寸
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/yin2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33293"  onclick="Android.showproduct(33293);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    ✭hello my world t-shirt / vest 刺繡短t&背心組合賣場
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/yin3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33290"  onclick="Android.showproduct(33290);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    舒服軟布U領背心（白色）兩個圖案：I LOVE YOU, PANDA. / 小溪、海、細沙
  </div>
</div>




<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/wools" onClick="Android.showStore(4557);"  style="background: url('img/two/wool.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>【wool's】羊毛氈兒</strong>
    </div>
    喜愛玩色彩搭配
喜愛旅行
喜愛大自然相關的主題。...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/wool1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33367"  onclick="Android.showproduct(33367);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    羊毛氈動物屁屁磁鐵-貓咪屁屁（虎斑貓）
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/wool2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33364"  onclick="Android.showproduct(33364);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    羊毛氈動物屁屁磁鐵-兔子屁屁（米棕點點）
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/wool3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33363"  onclick="Android.showproduct(33363);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    羊毛氈動物屁屁磁鐵-柴犬屁屁
  </div>
</div>




<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/sowood" onClick="Android.showStore(4013);"  style="background: url('img/two/sow.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>SOWOOD</strong>
    </div>
    『軟木』來自於運用每九年採剝一次的橡樹樹皮...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/sow1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33244"  onclick="Android.showproduct(33244);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    SOWOOD 軟木短夾
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/sow2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33267"  onclick="Android.showproduct(33267);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    SOWOOD 軟木筆記本－黃（條紋）
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/sow3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33247"  onclick="Android.showproduct(33247);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    SOWOOD 軟木手札－S
  </div>
</div>




<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/puresimple" onClick="Android.showStore(4076);"  style="background: url('img/two/pur.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>樸實工作室</strong>
    </div>
    實工作室是一個自許對環境友善、對人有溫度的品牌。沒有使用珍貴而稀有的食材，卻有對品質毫不鬆懈的...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/pur1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33531"  onclick="Android.showproduct(33531);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    松子桂圓糕-香港專區
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/pur2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33541"  onclick="Android.showproduct(33541);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    鳳梨芒果果茶-買大送小-香港專區
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/pur3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33532"  onclick="Android.showproduct(33532);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    椰棗堅果-香港專區
  </div>
</div>




<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/hahahana" onClick="Android.showStore(4115);"  style="background: url('img/two/hah.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>hahahana</strong>
    </div>
    大家好，我們是hahahana 
由兩個小小設計師組合的品牌...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/hah1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33386"  onclick="Android.showproduct(33386);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    A6筆記本｜北極熊
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/hah2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33393"  onclick="Android.showproduct(33393);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    A6筆記本｜澡堂兔
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/hah3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33658"  onclick="Android.showproduct(33658);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    設計明信片｜草泥馬
  </div>
</div>




<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/glucose2013" onClick="Android.showStore(4624);"  style="background: url('img/two/glu.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>樸陶堂</strong>
    </div>
    喜歡自然素材，喜歡保留陶土的原色，不多加修飾，秉持...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/glu1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33493"  onclick="Android.showproduct(33493);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    草間彌生上身之迷幻點點系列之橡果
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/glu3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33490"  onclick="Android.showproduct(33490);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    七分飽小碗
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/glu2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33494"  onclick="Android.showproduct(33494);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    鱷魚動物陶偶
  </div>
</div>




<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/finding" onClick="Android.showStore(4081);"  style="background: url('img/two/fin.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>finding</strong>
    </div>
    找找finding，想要透過這些陶土動小物們，隱身在日常中...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/fin1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32936"  onclick="Android.showproduct(32936);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    貓貓知足
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/fin2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32904"  onclick="Android.showproduct(32904);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    貓貓柴燒杯
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/fin3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32897"  onclick="Android.showproduct(32897);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    貓貓珊瑚樹-首飾展架
  </div>
</div>




<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/newnoise" onClick="Android.showStore(4574);"  style="background: url('img/two/new.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>newnoise</strong>
    </div>
    因為熱愛音樂，高中我開始加入了吉他社，從此吉他就變成我身不離手...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/new1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32915"  onclick="Android.showproduct(32915);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    NEW NOISE 正斜不二立PICK手鍊
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/new2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32916"  onclick="Android.showproduct(32916);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    NEW NOISE 木吉他項鍊
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/new3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32912"  onclick="Android.showproduct(32912);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    NEW NOISE新噪音－自我忠心項鍊
  </div>
</div>




<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/joja-design" onClick="Android.showStore(1671);"  style="background: url('img/two/joj.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>JOJA糾結創作</strong>
    </div>
    Josie + 選擇困難症候群 = 糾結JOJA...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/joj1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32801"  onclick="Android.showproduct(32801);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    JOJA│ 紅白條 x 亞麻米 太陽帽 現貨/訂製
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/joj2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32788"  onclick="Android.showproduct(32788);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    JOJA│ 限量老花布 x 靛藍變形蟲 雙面花形帽>現貨/訂製
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/joj3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32783"  onclick="Android.showproduct(32783);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    JOJA│ 藍綠緹花 x 黑 法式鄉村淑女帽 訂製
  </div>
</div>




<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/greenvines" onClick="Android.showStore(4109);"  style="background: url('img/two/gre.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>綠藤生機</strong>
    </div>
    致力於讓更健康、更真實的永續生活型態發芽
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/gre1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32755"  onclick="Android.showproduct(32755);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    護頭皮髮根雙效洗髮組

  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/gre2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32749"  onclick="Android.showproduct(32749);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   活萃化妝水
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/gre3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32751"  onclick="Android.showproduct(32751);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    寶貝Touching沐浴露
  </div>
</div>




<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/happyla" onClick="Android.showStore(4590);"  style="background: url('img/two/hap.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>樂果村香菇農園</strong>
    </div>
    樂果村農場位於南投北端的國姓鄉，三面環山一面...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/hap1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32725"  onclick="Android.showproduct(32725);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    樂果村有機乾冬菇-小朵冬菇
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/hap3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32703"  onclick="Android.showproduct(32703);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    樂果村有機乾冬菇(大朵冬菇)
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/hap2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32716"  onclick="Android.showproduct(32716);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    樂果村有機乾冬菇-中朵冬菇
  </div>
</div>




<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/macaca" onClick="Android.showStore(4102);"  style="background: url('img/two/mac.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>MaCaca 的店鋪</strong>
    </div>
    72STYLE DESIGN STUDIO 是個以角色設計、紙公仔設計...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/mac1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/24257"  onclick="Android.showproduct(24257);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    招財貓紙公仔(白)

  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/mac2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32636"  onclick="Android.showproduct(32636);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    『菊島見聞』澎湖地圖寶藍帆布包

  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/mac3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32638"  onclick="Android.showproduct(32638);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    貓咪體操套裝組
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/woo-collective" onClick="Android.showStore(4575);" style="background: url('img/two/woo.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>Woo-Collective</strong>
    </div>
    「物」團隊自許為一群駭客，我們學習傳統工藝技法，用現代的工業設計眼光破解並剖析...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/woo1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/30255" onclick="Android.showproduct(30255);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    經典工藝 筷架雙入組 直
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/woo2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/30253" onclick="Android.showproduct(30253);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    經典工藝 荒川 純錫清酒杯
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/woo3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/30447" onclick="Android.showproduct(30447);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    經典工藝 三角純錫製點心盤 木紋
  </div>
</div>




<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/777handmade" onClick="Android.showStore(3358);"  style="background: url('img/two/777.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>777handmade</strong>
    </div>
    創造獨一無二的手創作品，由你來賜予它美妙故事。帶著幸運的祝福，開啓無限的回憶...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/777-1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/19399" onclick="Android.showproduct(19399);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    綠雪花三角洲 / 手工原石耳環
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/777-2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/19783" onclick="Android.showproduct(19783);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   玫瑰色的你 / 天然石耳環
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/777-3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/19770" onclick="Android.showproduct(19770);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    麻花 / 黃銅手環
  </div>
</div>





<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/" onclick="Android.showStore(4120)" style="background: url('img/two/min.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>有空 5mins</strong>
    </div>
    “人人都有空 和自己 和世界對話” 
-設計師 蔡文明的有空創作- 多年來為無數品牌設計創造 一個無法喘息的品牌設計...  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/min1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/24431" onclick="Android.showproduct(24431);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    東東想
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/min2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/24449" onclick="Android.showproduct(24449);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   撈金魚-束口袋/植物染
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/min3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/24447" onclick="Android.showproduct(24447);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    貓房子—默默黑
  </div>
</div>


<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/buwudesign" onclick="Android.showStore(4084)" style="background: url('img/two/buwu.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>ＢＵＷＵ</strong>
    </div>
    布 = 布料 textile，物 = 物件 objects，布料是織品產品中的靈魂... </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/buwu1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/29240" onclick="Android.showproduct(29240);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    BUWU｜曼波午茶包
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/buwu2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/29658" onclick="Android.showproduct(29658);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   BUWU｜日麗絲巾
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/buwu3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/29635" onclick="Android.showproduct(29635);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    BUWU｜墨石手提哩扣包
  </div>
</div>



<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/campobag" onclick="Android.showStore(37)" style="background: url('img/two/cam.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>CAMPOBAG 共創舞台</strong>
    </div>
    協助個人發現自我價值的共創公司，並提供創作者發表平...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/cam1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/28810" onclick="Android.showproduct(28810);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    【團圓百味】高山手工薑糖
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/cam2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/28812" onclick="Android.showproduct(28812);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   【團圓大稻埕】大稻埕限定皮革圍裙
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/cam3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/1510" onclick="Android.showproduct(1510);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    【 CAMPOBAG共創舞台】吃豆子／一顆琉璃+布類手做
  </div>
</div>






<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/sothatsme" onclick="Android.showStore(4073)"style="background: url('img/two/so.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>好我 so that's me</strong>
    </div>
    我們不善於開口說話，善於用觸感分享生活的感觸...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/so1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/24558" onclick="Android.showproduct(24558);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   棉花糖冰淇淋 短袖 蜜桃棉 女T 桔粉
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/so2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/24119" onclick="Android.showproduct(24119);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   夢想小船 短袖 蜜桃棉 女T 純白
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/so3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/24131" onclick="Android.showproduct(24131);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    星座連連看星空蜜桃棉T (可自行連線星座喔)
  </div>
</div>






<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/ndd" onclick="Android.showStore(4578)" style="background: url('img/two/ndd.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>ndd</strong>
    </div>
    手工藝是台灣歷史文化中非常重要的資產之一，卻在現今生活中面臨高度工業與商業化的衝擊，逐漸走向瀕臨絕跡之途。
唐草設計(ndd)近期推動設計的社會責任，以宣揚台灣價值為使命，深入山林...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/ndd1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/27925" onclick="Android.showproduct(27925);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    桐花圍巾
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/ndd2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/27936" onclick="Android.showproduct(27936);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   皺褶口金包
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/ndd3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/27924" onclick="Android.showproduct(27924);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    藺編筆袋
  </div>
</div>





<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/mutoman" onclick="Android.showStore(4105)"style="background: url('img/two/mut.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>木童大叔的雜貨店</strong>
    </div>
    木童大叔 Mutoman，
1984年生於台北，
平日從事插畫創...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/mut1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/24335" onclick="Android.showproduct(24335);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    『木童閒晃』系列馬克杯
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/mut2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/24334" onclick="Android.showproduct(24334);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   『木童閒晃』系列明信片
  </div>
</div>



<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/layoo" onclick="Android.showStore(4356)" style="background: url('img/two/lay.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>layoo來喲</strong>
    </div>
    一捲線*一雙手,為家人縫出幸福包包
One hand, two hands...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/lay1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/25975" onclick="Android.showproduct(25975);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    [醫生包]真皮帆布電腦公事包
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/lay2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/25973" onclick="Android.showproduct(25973);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   【蜜糖吐司】環保兩用手提斜背包honey toast 2 way tote bag
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/lay3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/25977" onclick="Android.showproduct(25977);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    畫家貝雷帽抗UV小顏感
  </div>
</div>


<!-- 

<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/taiwanize" style="background: url('img/two/twa.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>TAIWANIZE </strong>
    </div>
    2012年開始籌備成立以中華文化、台灣文化作為設計主體的台灣時尚服飾品牌...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/twa1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/24149" onclick="Android.showproduct(24149);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    梅花海灘背心
  </div>
</div>



<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/thecheckinn" style="background: url('img/two/che.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>thecheckinn</strong>
    </div>
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/che1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/30562" onclick="Android.showproduct(30562);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    雀客黃白拖
  </div>
</div>



<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/lovezelovewei" style="background: url('img/two/lov.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>Maggie Hung</strong>
    </div>
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/lov1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/28282" onclick="Android.showproduct(28282);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    小小叉子
  </div>
</div>



<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/macaca" style="background: url('img/two/mac.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>MaCaca 的店鋪</strong>
    </div>
    72STYLE DESIGN STUDIO 是個以角色設計、紙公仔設計、平面設計、包裝設計...


  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/mac1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/24257" onclick="Android.showproduct(24257);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    招財貓紙公仔(白)
  </div>
</div>



<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/harshmyth" style="background: url('img/two/har.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>許阿赫</strong>
      詩人
    </div>
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/har1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/24357" onclick="Android.showproduct(24357);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    詩集《騙了50年》
  </div>
</div>


 -->