<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col banner mdl-cell--hide-phone">
  <div class="mdl-card__media product-image b-lazy" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: right top;" data-original="img/banner3.png" >
    <a href="/">
      <div class="mdl-card__title" style="padding-left: 32px;">
        <h1 class="mdl-typography--display-1 mdl-color-text--white"><small>好物第二期</small><br/>給貓奴的禮物</h1>
      </div>
    </a>
  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col banner mdl-cell--hide-phone">
  <div class="mdl-card__media product-image b-lazy" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;" data-original="img/two/banner.png" >
    <a href="campobag.html">
      <div class="mdl-card__title" style="padding-left: 32px;">
<!--         <h1 class="mdl-typography--display-1-color-contrast"><small>Campobag × Solda</small><br/>2015 臺灣月<br/>- 思臺灣</h1>
 -->      </div>
    </a>
  </div>
</div>

<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">
    好物第二期<br><small>給貓奴的禮物，多款貓咪選物超值優惠中</small>
  </h1>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/132394/medium_thumb_9d6578718f9a6d78b8e581b1289427.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/36954" onclick="Android.showProduct(36954);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
BRUNO 療癒系動物造型音響 貓咪

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/6609/medium_thumb_90028fc7eb132e2837229ee16a3a8e.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/1758" onclick="Android.showProduct(1758);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
puhlmann 黑貓咪 磁鐵

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/23598/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/6450" onclick="Android.showProduct(6450);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
可愛黑白貓咪馬克杯

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/62700/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/17791" onclick="Android.showProduct(17791);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
立體貓咪耳環

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/787/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/144" onclick="Android.showProduct(144);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
貓咪眼鏡紙膠帶

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/39110/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/11119" onclick="Android.showProduct(11119);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
貓咪皮革鑰匙圈

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/37501/medium_thumb_f45ca5c070dd5e05ae35469cb1471d.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/10559" onclick="Android.showProduct(10559);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
【紙膠帶】花咪與蝴蝶結/貓咪紙膠帶

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/73103/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/20627" onclick="Android.showProduct(20627);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
預購-可愛貓咪牛仔吊帶裙

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/97623/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/27850" onclick="Android.showProduct(27850);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
🐱貓咪毛毛尾巴零錢包

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/117024/medium_thumb_72d813be15fa2c939e030e8e639084.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32958" onclick="Android.showProduct(32958);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
免運［日本東京限量］貓咪王國 托特包

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/22331/medium_thumb_4c2cd1a47ecedce19c3d58143d97a2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/6041" onclick="Android.showProduct(6041);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
韓國可愛貓咪矽膠 iPhone 6 /6 plus 保護套 (黑、灰二色)

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/134875/medium_thumb_654807ed3827de9d0e9f0d5525ae38.gif" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/37536" onclick="Android.showProduct(37536);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
日本Pea Pod品牌 帆布托特包 TAACHAN 喵! BULLTON 法鬥!

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/39046/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/11096" onclick="Android.showProduct(11096);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
★大特價★日本水手喵咪 淺藍單人枕套被套組 小朋友床單

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/23286/medium_thumb_9ac33e3e6cb9ab74415df7f1bfa0d3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/6312" onclick="Android.showProduct(6312);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
森林動物陶瓷首飾盒 收納罐 - 小貓（不包含拍攝道具）

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/121454/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/34274" onclick="Android.showProduct(34274);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
躲貓貓－中性T-Shirt-S號

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/78758/medium_thumb_bebc445167bb1355169a3deb107551.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/22126" onclick="Android.showProduct(22126);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
原創動物筆記本/Take a picture!系列(貓咪款)

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/92716/medium_thumb_fd5a6ee432de2740c05bd891f77a40.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/26074" onclick="Android.showProduct(26074);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
NickyShop 自創原創馬卡龍綠色背帶Coffee?Tea?or咪塗鴉肩背手提兩用拉鍊米白帆布托特包小方包梯形包

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/138508/medium_thumb_1689fbd59375e70e5393820688984c.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/38425" onclick="Android.showProduct(38425);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
慵懶貓馬克杯

  </div>
</div>






<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/136978/medium_thumb_efa614304dafe16e0aa18c432e26f8.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/37998" onclick="Android.showProduct(37998);" onclick="Android.showproduct(37998);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
晚安貓咪紙膠帶

  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/137630/medium_thumb_5f1d490b1991672181f934cf502c43.png" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/38175" onclick="Android.showProduct(38175);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
╠聖誕團購 ╣貓爪茶匙(黃銅)一對。

  </div>
</div>






<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/121157/medium_thumb_68f208df397eed5479d6164c12527f.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/34196" onclick="Android.showProduct(34196);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    [U'NIDO]原創手作 3D立體簡約優雅貓耳造型手工羊毛氈貝蕾畫家帽/ 保暖舒適/ 秋冬時尚配件/ 聖誕節/ 暖心禮物

  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/134264/medium_thumb_51baee6cdcccab7a72f2b2dc373bf7.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/37350" onclick="Android.showProduct(37350);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    貓咪髮飾

  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/132869/medium_thumb_26b756755cb445055384e5fa0f1ef9.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/36999" onclick="Android.showProduct(36999);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    左邊圓形款賣場【山毛櫸木設計鑰匙圈－貓掌握手手系列】

  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/118309/medium_thumb_6ed02d80b5bda1954a13874278608e.JPG" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/33367" onclick="Android.showProduct(33367);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
羊毛氈動物屁屁磁鐵-貓咪屁屁（虎斑貓）

  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/132144/medium_thumb_31ed8ae9a7b0751163bfe9f91d9fc5.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/36863" onclick="Android.showProduct(36863);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
  Qualy pet feeder 寵物多功能飼料桶 白色

  </div>
</div>






<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/131175/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red">85 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/36656" onclick="Android.showProduct(36656);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    ✨手打優惠85折✨像貓一樣生活15mm紙膠帶
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/131181/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red">85 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/36658" onclick="Android.showProduct(36658);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    ✨手打優惠85折✨40枚盒裝貼紙-像貓一樣生活
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/128083/medium_thumb_e2679d3bfb11d6e0ffb7d3196a4955.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red">75 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/35958" onclick="Android.showProduct(35958);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    ✨手打優惠75折✨MOUSRS流浪貓裸裝筆記本(1活躍下標區)
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/88370/medium_thumb_aca450605a7b291c3396c533756572.JPG" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red">9 折</span>

  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/24788" onclick="Android.showProduct(24788);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    寵物零食-爆蛋柳葉魚

  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/3636/medium_thumb_ed20bb067b04442925fe01c26f96dc.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/880" onclick="Android.showProduct(880);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    「芝諾」哲學家的小貓

  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/87088/medium_thumb_6cbdfcbdcb62a91451929748abcdbc.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/24447" onclick="Android.showProduct(24447);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    貓房子—默默黑
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/116812/medium_thumb_bdf2d494378b6f99041a5a80da4ef8.JPG" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red">9 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32897" onclick="Android.showProduct(32897);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    貓貓珊瑚樹-首飾展架
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/77889/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
    <span class="red">8 折</span>

  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/21850" onclick="Android.showProduct(21850);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    🐈貓貓珠珠鍊手環🐈
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/65681/medium_thumb_9ee5f8e8d271f5d54729c852060b1f.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red">9 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/18537" onclick="Android.showProduct(18537);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    等等 [ deng x deng ] 日本帶回 兒童安全餐具 貓咪盤 橘
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/55953/medium_thumb_17b082b8fdaa4cfb11bcf47d292c2e.JPG" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/15807" onclick="Android.showProduct(15807);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    手工 英國短毛貓 貓咪 造型 耳環
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/5622/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/1420" onclick="Android.showProduct(1420);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   貓咪庭園 鑰匙圈
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/36529/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/10290" onclick="Android.showProduct(10290);">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    毛小黃編織手鍊

  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/69561/medium_thumb_62642a565f51e510d9929168851cda.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red">8 折</span>

  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/19511" onclick="Android.showProduct(19511);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
    貓眼/抗過敏鋼針/可改夾式

  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/43583/medium_thumb_2d8d799658bf4155aabd06a101cc92.JPG"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/12369" onclick="Android.showProduct(12369);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
   【Cait Sith】不軟嫩肉掌戒 喵掌 汪掌 熊掌 (訂製戒圍)嗯

  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/97319/medium_thumb_a953300e09c5fcfa54d8da36b4be29.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red">85 折</span>

  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/27761" onclick="Android.showProduct(27761);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
▽ -Cats Palm Necklace-▽化骨貓掌肉球項鍊-女款

  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/126297/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/35428" onclick="Android.showProduct(35428);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
貓食玩☀️ADUCK Catnip 有機DIY自種貓草盆栽套組☀️含補充包

  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/124343/medium_thumb_7d959d244e45647362490422b6bdf7.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red">9 折</span>

  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/34906" onclick="Android.showProduct(34906);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
   Little OH! 波斯貓 手作短鏈


  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/119617/medium_thumb_6e70e50b20c0c311bd9396a83cfaf1.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/33762" onclick="Android.showProduct(33762);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
貓之迴旋舞

  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/104098/medium_thumb_b84b6f4fdf29d194a4d82ea3253658.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/29790" onclick="Android.showProduct(29790);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
[新品上市]日本人氣 Mocoro 電動寵物打掃毛球「毛球君」

  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/82625/medium_thumb_29513db816571e213c5d31575cb69c.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/23266" onclick="Android.showProduct(23266);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
原創手作 Cheese 925純銀 項鍊（原創設計款）
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/103995/medium_thumb_b7a1a55436497257f58bc64093a5fd.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/29669" onclick="Android.showProduct(29669);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
紙膠帶-貓鍋 （再版預購，11/20 出貨)

  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/110723/medium_thumb_8667d2db1a79b9899222a6c3f95d54.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red">9 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/31439" onclick="Android.showProduct(31439);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
【純手工絹印-霸氣貓奴認證手提袋（有底款）】
  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/126875/medium_thumb_c20532bb272b0169588b40a52c707a.JPG"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/35628" onclick="Android.showProduct(35628);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
鯛魚燒耳針 耳飾
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/26410/medium_thumb_6da696880ed95de114c63042c51e9f.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/7343" onclick="Android.showProduct(7343);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
BLR 印花布 手機殼 FabShell for iPhone6 張寧 聯名款 貓 IT08
  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/45124/medium_thumb_bb388168b33ddf604e9171fa7c983b.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/12837" onclick="Android.showProduct(12837);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
三貓俱樂部---小許地毯 預購中
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/5921/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/1523" onclick="Android.showProduct(1523);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
bug-eyed 刺繡貓咪小包
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/45907/medium_thumb_65017afa71e6ac42af7126d5249499.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/13051" onclick="Android.showProduct(13051);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
[UNIDO] 原創手作 簡約清新可愛貓咪原木耳環925純銀 - 2色/ 簡約設計/ 優質檀木/ 都會氣質風格/暖心禮物
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/74557/medium_thumb_9696302d3c64b9f1a1559c4a0eb26f.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red">95 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/21066" onclick="Android.showProduct(21066);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
[Indigo] 貓咪黃銅戒指

  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/133592/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red">8 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/37156" onclick="Android.showProduct(37156);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
🐱貓貓大頭耳環🐱
  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/39650/medium_thumb_1d58268bc29e4e04b9a2b97c1f6151.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red">88 折</span>
  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/11302" onclick="Android.showProduct(11302);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
手工925純銀【貓掌墜飾Charm】執貓之手，與貓偕老
  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/37488/medium_thumb_b52b2eaad466ff9798904ffa808169.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/10555" onclick="Android.showProduct(10555);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
【手印】花花貓咪立體帆布包/零錢包
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/88393/medium_thumb_8a390e510b328914b58219acd50aba.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red">9 折</span>

  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/24799" onclick="Android.showProduct(24799);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
寵物零食-鮭魚燕麥一口酥
  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card" 

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/88360/medium_thumb_2f725945d5ac0badddc680582f5a90.jpg"

style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <span class="red">9 折</span>

  <div class="mdl-card__media product-image">
    <a target="_blank"

    href="https://solda.io/products/24785" onclick="Android.showProduct(24785);">
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    
寵物零食-鮭魚鬆
  </div>
</div>

