<div class="post mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io" style="background-image: url('img/full.jpg'); background-position: center center; background-repeat: no-repeat; background-size: cover;" class="backdrop" data-adaptive-background data-ab-css-background>
      <div class="mdl-card__title">
        <h1 class="mdl-typography--display-2 mdl-color-text--white">
        <small>2015 年 9 月份</small><br/>最受好評的手作商家</h1>
      </div>
    </a>
  </div>
  <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
    <section>
        <p class="lipsum(10,10-30)"></p>

        <p class="lipsum(4,10-20)"></p>
        <p class="lipsum(7,10-50)"></p>
      </section>
  </div>
</div>

