<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1-color-contrast">
    <small>WEEK #01</small><br>兔兔爭霸
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--5-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/18612/medium_thumb_27dcead67cb1e1a849f689bb560b2c.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">餅乾邊</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="#" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/892/square_large_2ec0183591c3b9e079a43031d922de.png" alt="">
      <div>
        <strong>Go2 荷蘭餅</strong><br/>
        <span>@go2dutchcookie</span>
      </div>
    </a>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--3-col-tablet intro-card">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io" style="background: url('img/subscribe.png') center center no-repeat; background-size: cover;">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    點一下，直接用瀏覽器訂閱每週好物更新，保證不濫發，可在瀏覽器設定裡隨時取消。
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/90542/medium_thumb_23ff73eb7658693fc88a752ee2725c.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">無臉男無臉男</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="#" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3576/square_large_f719dfec82e1b2dfa547902566ced1.jpg">
      <div>
        <strong>貓三餅舖</strong><br/>
        <span>@mow3</span>
      </div>
    </a>
  </div>
</div>

<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1-color-contrast">
    <small>WEEK #01</small><br>推薦商家
  </h1>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/mow3"  style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3576/square_large_f719dfec82e1b2dfa547902566ced1.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>貓三餅舖</strong><span>@mao3</span>
    </div>
    一個嘴很挑的女子，不愛吃甜食，但卻樂於做出好吃甜點...
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/ohhappyday"  style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3887/square_large_2ec0183591c3b9e079a43031d922de.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>GREEN-BAKERY</strong><span>@green-bakery</span>
    </div>
    Green Bakery源自於對人,環境與動物友善的原則,以愛為出發點...
  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io"  style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/237/square_large_2ec0183591c3b9e079a43031d922de.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>台灣diese-diese 雜貨研究所</strong><span>@diese-diese</span>
    </div>
    我們是一家 專賣室內生活用品的台灣分店 總店在 日本關西地區 日本店家 成立...
  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/ohhappyday"  style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/1845/square_large_2ec0183591c3b9e079a43031d922de.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>Oh Happy Day 手工甜點</strong><span>@ohhappyday</span>
    </div>
    當英國廚師Jamie Oliver完全料理的時候，會露出喜悅的神情說：Happy Day...
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io"  style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/318/square_large_2ec0183591c3b9e079a43031d922de.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>柴窯火腿製造所</strong><span>@yao1976</span>
    </div>
    沒有商家介紹
  </div>
</div>






<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io"  style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/170/square_large_2ec0183591c3b9e079a43031d922de.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>淡味生活</strong><span>@flavourlife</span>
    </div>
    淡味生活～餐瓷雜貨專販～

器皿裝扮食物，食物調劑生活
品美也價美的生活食器
  </div>
</div>




