<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-3-color-contrast">
    <small>WEEK #01</small><br>兔兔爭霸
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--5-col-tablet">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/18612/medium_thumb_27dcead67cb1e1a849f689bb560b2c.jpg') center center no-repeat; background-size: cover;">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">餅乾邊</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="#" class="avatar">
      <img  src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/892/square_large_2ec0183591c3b9e079a43031d922de.png" data-adaptive-background alt="">
      <div>
        <strong>Go2 荷蘭餅（商品大版型）</strong><br/>
        <span>@go2dutchcookie</span>
      </div>
    </a>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col intro-card mdl-cell--12-col-phone mdl-cell--3-col-tablet">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io" style="background: url('img/subscribe.png') center center no-repeat; background-size: cover;">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    直接用瀏覽器訂閱每週更新，推好物，保證不濫發，可隨時取消。
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--primary" href="#">馬上訂閱</a>
    <a class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--primary" href="#">我要投稿</a>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/90542/medium_thumb_23ff73eb7658693fc88a752ee2725c.jpg') center center no-repeat; background-size: cover;">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">無臉男無臉男</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="#" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3576/square_large_f719dfec82e1b2dfa547902566ced1.jpg" alt="">
      <div>
        <strong>貓三餅舖（一般產品）</strong><br/>
        <span>@mow3</span>
      </div>
    </a>
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/6255/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg') center center no-repeat; background-size: cover;">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-typography__title-text">櫻桃鴨火腿</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="#" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/318/square_large_2ec0183591c3b9e079a43031d922de.png" alt="">
      <div>
        <strong>柴窯火腿製造所</strong><br/>
        <span>@yao1976</span>
      </div>
    </a>
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/36054/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg') center center no-repeat; background-size: cover;">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">德國香腸時蔬鹹派 Sausage and Pepper Quiche（6吋）</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="#" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/1632/square_large_2ec0183591c3b9e079a43031d922de.png" alt="">
      <div>
        <strong>ㄅㄔ x ㄅㄔ</strong><br/>
        <span>@whiteatcoffee</span>
      </div>
    </a>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/51313/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg') center center no-repeat; background-size: cover;">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">有味道蘋果派（8吋）</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="#" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/2443/square_large_2ec0183591c3b9e079a43031d922de.png" alt="">
      <div>
        <strong>脫皮卡卡</strong><br/>
        <span>@topicaca</span>
      </div>
    </a>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io" style="background: url('img/full.jpg') center center no-repeat; background-size: cover;">
      <div class="mdl-card__title">
        <h1 class="mdl-typography--display-2 mdl-color-text--white">
        <small>2015 年 9 月份</small><br/>最受好評的手作商家</h1>
      </div>
    </a>
  </div>
</div>
