<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--5-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/7972/medium_thumb_c3fdd1c2b71d80975ae8e6a8a139cb.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/2115">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">雲月箸置 筷架</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/diese-diese" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/253/square_large_2ec0183591c3b9e079a43031d922de.png" alt="">
      <div>
        <strong>台灣diese-diese 雜貨研究所</strong><br/>
        <span>@diese-diese</span>
      </div>
    </a>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--3-col-tablet intro-card">
  <div class="mdl-card__media product-image">
    <div class="issue-number">
      <div class="vertical-center">
        <span>WEEK #01</span><br/>
        兔兔爭霸你該知道的十件商品
      </div>
    </div>
  </div>
  <div class="mdl-card__supporting-text">
    每週好物更新，保證不濫發，可在瀏覽器設定裡隨時取消。
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/83739/medium_thumb_eefef993be23772476adfa3a787f22.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/23596">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">圓圓圈禮盒</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/green-bakery" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3887/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>GREEN-BAKERY</strong><br/>
        <span>@green-bakery</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/84072/medium_thumb_fe04de1e4079c6dda85ebafa371960.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/23671">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">四季水果乾-好事成雙禮盒組</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/tastesweety" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3963/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>幸福果舖 Taste Sweety</strong><br/>
        <span>@tastesweety</span>
      </div>
    </a>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/20728/medium_thumb_ae487f660365ac783872d66a5245ab.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/5518">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">/ 動物園好朋友 / 阿南白兔方形午安枕 抱枕</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/onelifezoo" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/1028/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>動物園 生活道具</strong><br/>
        <span>@onelifezoo</span>
      </div>
    </a>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/90523/medium_thumb_a69df808d105613831be46cda2f45f.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/25432">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">我最愛の豆豆龍</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/mow3" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3576/square_large_f719dfec82e1b2dfa547902566ced1.jpg">
      <div>
        <strong>貓三餅鋪</strong><br/>
        <span>@mow3</span>
      </div>
    </a>
  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/14082/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/3676">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">Boy from the moon</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/crossroads.vintage" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/279/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>鑲珹 Crossroads Vintage</strong><br/>
        <span>@crossroads.vintage</span>
      </div>
    </a>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/36307/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/10226">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">可愛龍貓後背包</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/dzejxiswztkqnwhhq4fq2s4ee" class="avatar">
      <img src="https://graph.facebook.com/1607287552891531/picture?type=square&height=200&width=200">
      <div>
        <strong>Lisa Yao</strong><br/>
        <span>@dzejxiswztkqnwhhq4fq2s4ee</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/23193/medium_thumb_081f78d1e167a945667b000be31579.JPG') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/6297">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">復古手工原木雕刻-椴木動物</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/onelifezoo" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/1028/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>動物園 生活道具</strong><br/>
        <span>@onelifezoo</span>
      </div>
    </a>
  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/46850/medium_thumb_f44e4fe3499ac7b5805e5566d9ceaf.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/13287">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">戸崎尚美 法國兔陶瓷點心盤禮盒</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/ajimylive" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/1404/square_large_4f0b82be8eceec8ae7e2fbf43cb0c2.png">
      <div>
        <strong>AJI 家居</strong><br/>
        <span>ajimylive</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/20064/medium_thumb_1e0dbede941fe35c6db8736183b0dc.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/5357">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">美國燒烤神器！方形大網籃（獨家黑色版）</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/flavourlife" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/170/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>淡味生活</strong><br/>
        <span>@flavourlife</span>
      </div>
    </a>
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/84462/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/23773">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">中秋禮盒 蛋黃酥</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/justcookie" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3893/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>Just Cookie🍪</strong><br/>
        <span>@justcookie</span>
      </div>
    </a>
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/42842/medium_thumb_2d8ebf60c78f015a6806c4c7d1d289.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/12159">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">黑夜裡的皎皎月光 插畫明信片</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/weaving.a.dream" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/530/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>未知夢工坊 Weave A Dream</strong><br/>
        <span>@weaving.a.dream</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/58085/medium_thumb_14ec237fca5b51410fdafafaac624a.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/16361">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">日本平輸可愛雷神手拭巾</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/emily.chou.581" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/509/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>AIMOLI's ZAKKA</strong><br/>
        <span>@emily.chou.581</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/49682/medium_thumb_4ddf3db71c302938cc2e0daa848cd4.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/13987">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">鑽繡荷包(口金包)</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/momolico" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/2380/square_large_926e556904755d38f2a9ffdf3c582f.jpg">
      <div>
        <strong>momolico</strong><br/>
        <span>@momolico</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/51058/medium_thumb_84f3156144a81a0d9a20033756790d.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/14387">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">日本風呂敷</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/whitedo.tw" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/875/square_large_858096909c8f0a0a7336980f8a0f9c.jpg">
      <div>
        <strong>White do 白做研究所</strong><br/>
        <span>@whitedo.tw</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/23848/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/6539">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">自動旋轉桌上型串燒</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/goodmaruko" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/1205/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>丸好生活goodmaruko</strong><br/>
        <span>@goodmaruko</span>
      </div>
    </a>
  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/80756/medium_thumb_9199ff8ce188a3a533cadae6c4be93.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/22726">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">鍍24K金邊紫水晶項鏈(B)</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/indigo" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3275/square_large_8c78fa2a43442b7e15e82a83aa0b2c.jpg">
      <div>
        <strong>Indigo / 一家小靛</strong><br/>
        <span>@indigo</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/70477/medium_thumb_5c83489a233c196233de5659e62462.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/19806">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">等等 [ deng x deng ] 日本帶回 簡約一大點 陶瓷中小型灰盤</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/dengxdeng" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/2956/square_large_921e3b84cbbf53edf62465a6a1d5b2.jpg">
      <div>
        <strong>等等</strong><br/>
        <span>@dengxdeng</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/28697/medium_thumb_38b3c448f3d304dc9bc0d50a2db164.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/8034">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">『日本平輸』和布杯墊</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/emily.chou.581" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/509/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>AIMOLI's ZAKKA</strong><br/>
        <span>@emily.chou.581</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/28501/medium_thumb_890b1e4b6576baaf55d7ca552e943c.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/7956">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">月光 MoonBeam 空間擴香精油 120ml</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/demeter" class="avatar">
      <img src="https://solda.io/default_store_avatar.png">
      <div>
        <strong>Demeter</strong><br/>
        <span>@demeter</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/29237/medium_thumb_a8e73b2ac675407566d3bb3d873434.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/8178">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">茶客林嚴選 302高寒山頭氣禮盒組</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/chucklintaiwantea" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/988/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>茶客林 精品高山茶</strong><br/>
        <span>@chucklintaiwantea</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/57716/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/16258">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">桂花荔香戚風蛋糕</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/fluffia" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/2744/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>Fluffia BakeLab</strong><br/>
        <span>@fluffia</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/24923/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/6879">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">淨淨愛吃的米
</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/ching" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/1311/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>純淨農產供應社</strong><br/>
        <span>@ching</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/44078/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/12480">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">如果未來搬到宇宙，先在月球一起喝杯咖啡吧-明信片
</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/singleladyjojo" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/2149/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>Single Lady JOJO</strong><br/>
        <span>@singleladyjojo</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/74063/medium_thumb_de3854b8b89fe02dc3654a3007cd80.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/1107">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">【香水檸檬-果乾】直接吃-如同吃進一整顆檸檬般的酸甜</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/grandpaslemon" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/182/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>阿公的香水檸檬</strong><br/>
        <span>@grandpaslemon</span>
      </div>
    </a>
  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/91892/medium_thumb_7575af118903c263b56a60c7c9ffac.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/25858">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">Mark's Multi Line 日本直營店限定紙膠帶_夜好眠</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/ninsidea" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3615/square_large_2f7b445875fbe0ccdba7044476f331.jpg">
      <div>
        <strong>Nins Idea Collection 嚴選日/泰/文具/設計雜貨/生活小物</strong><br/>
        <span>@ninsidea</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/60416/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/17040">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">［紐約空運*獨家僅一件單品］純手工真皮革舊感肩背包</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/theclothes" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/2939/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>theclothes</strong><br/>
        <span>@theclothes</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/92361/medium_thumb_3daf29762d5573491649385244faf6.jpg') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/products/25984">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">中秋特別獻禮</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/shijie.pan1" class="avatar">
      <img src="https://graph.facebook.com/1050655391627071/picture?type=square&height=200&width=200">
      <div>
        <strong>Sweet365</strong><br/>
        <span>@shijie.pan1</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/82056/medium_thumb_7537014d57ea9c732447c9aa5beb31.JPG') center center no-repeat; background-size: cover;">
  <div class="mdl-card__media product-image">
    <a href="產品網址">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--white">JP Zakka 烤肉串造型原子筆</h1>
      </div>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="https://solda.io/moko_k" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/1823/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>moko_k</strong><br/>
        <span>@moko_k</span>
      </div>
    </a>
  </div>
</div>




<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1-color-contrast">
    本週推薦商家
  </h1>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/mow3"  style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3576/square_large_f719dfec82e1b2dfa547902566ced1.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>貓三餅舖</strong><span>@mao3</span>
    </div>
    一個嘴很挑的女子，不愛吃甜食，但卻樂於做出好吃甜點...
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/ohhappyday"  style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3887/square_large_2ec0183591c3b9e079a43031d922de.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>GREEN-BAKERY</strong><span>@green-bakery</span>
    </div>
    Green Bakery源自於對人,環境與動物友善的原則,以愛為出發點...
  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io"  style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/237/square_large_2ec0183591c3b9e079a43031d922de.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>台灣diese-diese 雜貨研究所</strong><span>@diese-diese</span>
    </div>
    我們是一家 專賣室內生活用品的台灣分店 總店在 日本關西地區 日本店家 成立...
  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="https://solda.io/ohhappyday"  style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/1845/square_large_2ec0183591c3b9e079a43031d922de.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>Oh Happy Day 手工甜點</strong><span>@ohhappyday</span>
    </div>
    當英國廚師Jamie Oliver完全料理的時候，會露出喜悅的神情說：Happy Day...
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io"  style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/318/square_large_2ec0183591c3b9e079a43031d922de.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>柴窯火腿製造所</strong><span>@yao1976</span>
    </div>
    沒有商家介紹
  </div>
</div>






<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a href="http://solda.io"  style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/170/square_large_2ec0183591c3b9e079a43031d922de.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>淡味生活</strong><span>@flavourlife</span>
    </div>
    淡味生活～餐瓷雜貨專販～

器皿裝扮食物，食物調劑生活
品美也價美的生活食器
  </div>
</div>




