<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col banner mdl-cell--hide-phone">
  <div class="mdl-card__media product-image b-lazy" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: right top;" data-original="img/banner4.png" >
    <a href="/">
      <div class="mdl-card__title" style="padding-left: 32px;">
        <h1 class="mdl-typography--display-1 mdl-color-text--white"><small>好物第三期</small><br/>童趣生活</h1>
      </div>
    </a>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col banner mdl-cell--hide-phone">
  <div class="mdl-card__media product-image b-lazy" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: right top;" data-original="img/banner3.png" >
    <a href="cat.html">
      <div class="mdl-card__title" style="padding-left: 32px;">
        <h1 class="mdl-typography--display-1 mdl-color-text--white"><small>好物第二期</small><br/>給貓奴的禮物</h1>
      </div>
    </a>
  </div>
</div>


<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">
    好物第三期<br><small>繽紛多一點！Cuter is Better !</small>
  </h1>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/68203/medium_thumb_9eb39b76c62099012174ca4171d650.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/9799"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

3D LED小夜燈 - 迷路麋鹿

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/114489/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/32329"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

草11弄-「龍貓森林」

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/90330/medium_thumb_a51af71261e0775b647be3dad620ed.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/25368"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

紙箱鬆獅

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/132394/medium_thumb_9d6578718f9a6d78b8e581b1289427.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/36954"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

BRUNO 療癒系動物造型音響 貓咪

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/114657/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/32375"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

飛向天際

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/81913/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/23001"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

Contract Color series

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/73267/medium_thumb_1a84c4e8c02955a4cc312317e9717b.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/20672"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

動物刺繡項鍊 鎖骨鍊

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/12179/medium_thumb_56c1105509a4f6109950530e46940b.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/3166"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

【CaitSith】幸福元氣喵活戒

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/40185/medium_thumb_4c650065fa4982992c6fa54cf2e599.png"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/11483"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

[貼紙] 歐姆太陽好吃

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/3636/medium_thumb_ed20bb067b04442925fe01c26f96dc.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/880"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

「芝諾」哲學家的小貓

  </div>
</div>


<!-- ---------------------------------------- -->


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/87480/medium_thumb_852c83848475a814dd113bd2c78e46.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/24543"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

[I HEART GUTS] PLUSH ORGANS Tooth Plush - Flossin' Ain't Jus 牙齒玩偶

  </div>
</div>


<!-- ---------------------------------------- -->


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/31607/medium_thumb_40d605dc89ffe3492ecba628959658.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/8852"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

Safari 貓熊全身花紋造型地墊

  </div>
</div>


<!-- ---------------------------------------- -->


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/145169/medium_thumb_86208bc171aa69c8f8a168f6cc0a9a.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/40150"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

尼泊爾手做 羊毛氈 魚兒 零錢包

  </div>
</div>


<!-- ---------------------------------------- -->


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/143769/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/39882"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

手工編織壽司組

  </div>
</div>


<!-- ---------------------------------------- -->


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/143735/medium_thumb_30348bc4328c26ad8d7d449c7b03e0.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/39875"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

斑斑點點純銀戒指-永結童心

  </div>
</div>


<!-- ---------------------------------------- -->


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/142545/medium_thumb_9dafd774fb698ca50e0d62258e55a1.JPG"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/39586"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

銀色聖誕玻璃球項鍊--【頂上蒼穹的貓】(聖誕來臨前暖暖價11/10~12/31)

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/142299/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/39525"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
看著你 徽章

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/141830/medium_thumb_d1070d7d0959c25007fb1ee4b42083.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/39426"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

【謎呀呼】(一對入)原創手工黑文鳥+白文鳥麻糬娃娃 情人節 婚禮禮品

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/78928/medium_thumb_adbe2abdf8b4a81145e44b82721fc1.png"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/22207"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

★NEW★ 童話彩色壁貼 - 愛麗絲01

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/138999/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/38583"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

新鮮荷包蛋-鋼針耳環

  </div>
</div>


<!-- ---------------------------------------- -->

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/84071/medium_thumb_21766b8aff242eb333f7ff4bbd529a.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/23671"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

【幸福果舖 TASTE SWEETY】四季水果乾-好事成雙禮盒組

  </div>
</div>


<!-- ---------------------------------------- -->

