<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col banner">
  <div class="mdl-card__media product-image b-lazy" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: right top;" data-original="img/banner1.png" >
    <a href="/">
      <div class="mdl-card__title" style="padding-left: 32px;">
        <h1 class="mdl-typography--display-1 mdl-color-text--white"><small>好物第一期</small><br/>中秋月圓人團圓，<br/>手打給你好人緣。</h1>
      </div>
    </a>
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/90523/medium_thumb_a69df808d105613831be46cda2f45f.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/25432">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/mow3" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3576/square_large_f719dfec82e1b2dfa547902566ced1.jpg">
      <div>
        <strong>貓三餅鋪</strong><br/>
        <span>@mow3</span>
      </div>
    </a>
  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--3-col-tablet intro-card">
  <div class="mdl-card__media product-image">
    <div class="issue-number">
      <div class="vertical-center">
        <span>本期募集關鍵字：</span><br/>
        #中秋好人緣
      </div>
    </div>
  </div>
  <div class="mdl-card__supporting-text">
    說到中秋節，你會想到什麼呢？是月亮、兔子、還是烤肉大會？現在就上傳你認為適合中秋節的商品，產品描述裡加上「#中秋好人緣」，就有機會入選手打拍賣精選商品！
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/83739/medium_thumb_eefef993be23772476adfa3a787f22.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/23596">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/green-bakery" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3887/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>GREEN-BAKERY</strong><br/>
        <span>@green-bakery</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="img/product/2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/23671">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/tastesweety" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3963/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>幸福果舖 Taste Sweety</strong><br/>
        <span>@tastesweety</span>
      </div>
    </a>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/20728/medium_thumb_ae487f660365ac783872d66a5245ab.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/5518">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/onelifezoo" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/1028/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>動物園 生活道具</strong><br/>
        <span>@onelifezoo</span>
      </div>
    </a>
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--5-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/7972/medium_thumb_c3fdd1c2b71d80975ae8e6a8a139cb.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/2115">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/diese-diese" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/237/square_large_2ec0183591c3b9e079a43031d922de.png" alt="">
      <div>
        <strong>台灣diese-diese 雜貨研究所</strong><br/>
        <span>@diese-diese</span>
      </div>
    </a>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/101860/medium_thumb_5b27623e5997089a042101d463a7db.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/29123">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/emily.chou.581" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/509/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>AIMOLI's ZAKKA</strong><br/>
        <span>@emily.chou.581</span>
      </div>
    </a>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/17308/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/4511">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/metafood" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/253/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>小啄/METAFOOD</strong><br/>
        <span>@metafood</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/23193/medium_thumb_081f78d1e167a945667b000be31579.JPG" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/6297">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/onelifezoo" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/1028/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>動物園 生活道具</strong><br/>
        <span>@onelifezoo</span>
      </div>
    </a>
  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/46850/medium_thumb_f44e4fe3499ac7b5805e5566d9ceaf.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/13287">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/ajimylive" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/1404/square_large_4f0b82be8eceec8ae7e2fbf43cb0c2.png">
      <div>
        <strong>AJI 家居</strong><br/>
        <span>ajimylive</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/20064/medium_thumb_1e0dbede941fe35c6db8736183b0dc.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/5357">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/flavourlife" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/170/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>淡味生活</strong><br/>
        <span>@flavourlife</span>
      </div>
    </a>
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/84462/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/23773">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/justcookie" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3893/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>Just Cookie🍪</strong><br/>
        <span>@justcookie</span>
      </div>
    </a>
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/42842/medium_thumb_2d8ebf60c78f015a6806c4c7d1d289.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/12159">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/weaving.a.dream" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/530/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>未知夢工坊 Weave A Dream</strong><br/>
        <span>@weaving.a.dream</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/58085/medium_thumb_14ec237fca5b51410fdafafaac624a.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/16361">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/emily.chou.581" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/509/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>AIMOLI's ZAKKA</strong><br/>
        <span>@emily.chou.581</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/49682/medium_thumb_4ddf3db71c302938cc2e0daa848cd4.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/13987">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/momolico" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/2380/square_large_926e556904755d38f2a9ffdf3c582f.jpg">
      <div>
        <strong>momolico</strong><br/>
        <span>@momolico</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/51055/medium_thumb_d63f70a650b260fb9f849fe630848f.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/14387">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/whitedo.tw" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/875/square_large_858096909c8f0a0a7336980f8a0f9c.jpg">
      <div>
        <strong>White do 白做研究所</strong><br/>
        <span>@whitedo.tw</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/23848/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/6539">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/goodmaruko" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/1205/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>丸好生活goodmaruko</strong><br/>
        <span>@goodmaruko</span>
      </div>
    </a>
  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/80756/medium_thumb_9199ff8ce188a3a533cadae6c4be93.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/22726">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/indigo" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3275/square_large_8c78fa2a43442b7e15e82a83aa0b2c.jpg">
      <div>
        <strong>Indigo / 一家小靛</strong><br/>
        <span>@indigo</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/70477/medium_thumb_5c83489a233c196233de5659e62462.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/19806">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/dengxdeng" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/2956/square_large_921e3b84cbbf53edf62465a6a1d5b2.jpg">
      <div>
        <strong>等等</strong><br/>
        <span>@dengxdeng</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/28697/medium_thumb_38b3c448f3d304dc9bc0d50a2db164.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/8034">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/emily.chou.581" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/509/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>AIMOLI's ZAKKA</strong><br/>
        <span>@emily.chou.581</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/34484/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/1602">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/yao1976" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/318/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>柴窯火腿製造所</strong><br/>
        <span>@yao1976</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/102716/medium_thumb_e0f60ef86d4e1b306c2c7a751230f3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/29397">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/chucklintaiwantea" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/988/square_large_7840b34de448de9cd57562aff22706.png">
      <div>
        <strong>茶客林 台灣高山極品茶選</strong><br/>
        <span>@chucklintaiwantea</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/57716/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/16258">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/fluffia" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/2744/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>Fluffia BakeLab</strong><br/>
        <span>@fluffia</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="img/product/3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/6879">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/ching" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/1311/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>純淨農產供應社</strong><br/>
        <span>@ching</span>
      </div>
    </a>
  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/74063/medium_thumb_de3854b8b89fe02dc3654a3007cd80.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/1107">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/grandpaslemon" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/182/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>阿公的香水檸檬</strong><br/>
        <span>@grandpaslemon</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/44078/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/12480">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/singleladyjojo" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/2149/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>Single Lady JOJO</strong><br/>
        <span>@singleladyjojo</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/100863/medium_thumb_5ef0672b5422300b794ec1942831cd.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/28809">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/campobag" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/37/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>CAMPOBAG共創舞台</strong><br/>
        <span>@campobag</span>
      </div>
    </a>
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/60416/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/17040">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/theclothes" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/2939/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>theclothes</strong><br/>
        <span>@theclothes</span>
      </div>
    </a>
  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/82056/medium_thumb_7537014d57ea9c732447c9aa5beb31.JPG" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/23051">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/moko_k" class="avatar">
      <img src="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/1823/square_large_2ec0183591c3b9e079a43031d922de.png">
      <div>
        <strong>moko_k</strong><br/>
        <span>@moko_k</span>
      </div>
    </a>
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--8-col-tablet product full-card" data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/92361/medium_thumb_3daf29762d5573491649385244faf6.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/25984">
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <a target="_blank" href="https://solda.io/shijie.pan1" class="avatar">
      <img src="https://graph.facebook.com/1050655391627071/picture?type=square&height=200&width=200">
      <div>
        <strong>Sweet365</strong><br/>
        <span>@shijie.pan1</span>
      </div>
    </a>
  </div>
</div>





<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1-color-contrast">
    本期推薦商家
  </h1>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/mow3"  style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3576/square_large_f719dfec82e1b2dfa547902566ced1.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>貓三餅舖</strong><br><span>@mow3</span>
    </div>
    一個嘴很挑的女子，不愛吃甜食，但卻樂於做出好吃甜點...
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/green-bakery" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/3887/square_large_2ec0183591c3b9e079a43031d922de.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>GREEN-BAKERY</strong><br><span>@green-bakery</span>
    </div>
    Green Bakery 源自於對人,環境與動物友善的原則,以愛...
  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="http://solda.io/diese-diese"  style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/237/square_large_2ec0183591c3b9e079a43031d922de.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>台灣diese-diese 雜貨研究所</strong><br><span>@diese-diese</span>
    </div>
    我們是一家 專賣室內生活用品的台灣分店 總店在 日本...
  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/ohhappyday" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/1845/square_large_2ec0183591c3b9e079a43031d922de.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>Oh Happy Day 手工甜點</strong><br><span>@ohhappyday</span>
    </div>
    當英國廚師Jamie Oliver完全料理的時候，會露出喜悅的神...
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="http://solda.io/yao1976" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/318/square_large_2ec0183591c3b9e079a43031d922de.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>柴窯火腿製造所</strong><br><span>@yao1976</span>
    </div>
    無添加防腐劑、增色劑，挑選香草豬做食材 並使用龍眼木...
  </div>
</div>






<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="http://solda.io/flavourlife" style="background: url('https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/store/avatar/170/square_large_2ec0183591c3b9e079a43031d922de.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>淡味生活</strong><br><span>@flavourlife</span>
    </div>
    淡味生活～餐瓷雜貨專販～

器皿裝扮食物，食物調劑...
  </div>
</div>




