<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">
    2015 臺灣月 - 思臺灣<br><small>我想，我做，我同世界一齊玩</small>
  </h1>
  <p class="mdl-typography--body">由 <a href="https://solda.io/campobag">Campobag</a> 主辦。</p>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/woo-collective" style="background: url('img/two/woo.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>Woo-Collective</strong>
    </div>
    「物」團隊自許為一群駭客，我們學習傳統工藝技法，用現代的工業設計眼光破解並剖析...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/woo1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/30255">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    經典工藝 筷架雙入組 直
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/woo2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/30253">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    經典工藝 荒川 純錫清酒杯
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/woo3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/30447">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    經典工藝 三角純錫製點心盤 木紋
  </div>
</div>




<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/777handmade" style="background: url('img/two/777.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>777handmade</strong>
    </div>
    創造獨一無二的手創作品，由你來賜予它美妙故事。帶著幸運的祝福，開啓無限的回憶...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/777-1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/19399">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    綠雪花三角洲 / 手工原石耳環
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/777-2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/19783">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   玫瑰色的你 / 天然石耳環
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/777-3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/19770">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    麻花 / 黃銅手環
  </div>
</div>





<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/5mins.com.tw" style="background: url('img/two/min.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>有空 5mins</strong>
    </div>
    “人人都有空 和自己 和世界對話” 
-設計師 蔡文明的有空創作- 多年來為無數品牌設計創造 一個無法喘息的品牌設計...  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/min1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/24431">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    東東想
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/min2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/24449">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   撈金魚-束口袋/植物染
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/min3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/24447">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    貓房子—默默黑
  </div>
</div>





<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/buwudesign" style="background: url('img/two/buwu.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>ＢＵＷＵ</strong>
    </div>
    布 = 布料 textile，物 = 物件 objects，布料是織品產品中的靈魂... </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/buwu1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/29240">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    BUWU｜曼波午茶包
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/buwu2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/29658">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   BUWU｜日麗絲巾
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/buwu3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/29635">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    BUWU｜墨石手提哩扣包
  </div>
</div>



<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/campobag" style="background: url('img/two/cam.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>CAMPOBAG 共創舞台</strong>
    </div>
    協助個人發現自我價值的共創公司，並提供創作者發表平...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/cam1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/28810">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    【團圓百味】高山手工薑糖
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/cam2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/28812">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   【團圓大稻埕】大稻埕限定皮革圍裙
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/cam3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/1510">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    【 CAMPOBAG共創舞台】吃豆子／一顆琉璃+布類手做
  </div>
</div>






<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/sothatsme" style="background: url('img/two/so.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>好我 so that's me</strong>
    </div>
    我們不善於開口說話，善於用觸感分享生活的感觸...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/so1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/24558">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   棉花糖冰淇淋 短袖 蜜桃棉 女T 桔粉
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/so2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/24119">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   夢想小船 短袖 蜜桃棉 女T 純白
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/so3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/24131">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    星座連連看星空蜜桃棉T (可自行連線星座喔)
  </div>
</div>






<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/ndd" style="background: url('img/two/ndd.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>ndd</strong>
    </div>
    手工藝是台灣歷史文化中非常重要的資產之一，卻在現今生活中面臨高度工業與商業化的衝擊，逐漸走向瀕臨絕跡之途。
唐草設計(ndd)近期推動設計的社會責任，以宣揚台灣價值為使命，深入山林...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/ndd1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/27925">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    桐花圍巾
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/ndd2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/27936">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   皺褶口金包
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/ndd3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/27924">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    藺編筆袋
  </div>
</div>





<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/mutoman" style="background: url('img/two/mut.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>木童大叔的雜貨店</strong>
    </div>
    木童大叔 Mutoman，
1984年生於台北，
平日從事插畫創...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/mut1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/24335">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    『木童閒晃』系列馬克杯
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/mut2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/24334">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   『木童閒晃』系列明信片
  </div>
</div>



<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/layoo" style="background: url('img/two/lay.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>layoo來喲</strong>
    </div>
    一捲線*一雙手,為家人縫出幸福包包
One hand, two hands...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/lay1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/25975">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    [醫生包]真皮帆布電腦公事包
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/lay2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/25973">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   【蜜糖吐司】環保兩用手提斜背包honey toast 2 way tote bag
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/lay3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/25977">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    畫家貝雷帽抗UV小顏感
  </div>
</div>


<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/taiwanize" style="background: url('img/two/twa.png') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>TAIWANIZE </strong>
    </div>
    2012年開始籌備成立以中華文化、台灣文化作為設計主體的台灣時尚服飾品牌...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/twa1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/24149">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    梅花海灘背心
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/twa2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32623">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    羊首浪花
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/twa3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32628">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    劍獅
  </div>
</div>





<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/morishu" style="background: url('img/two/mor.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>morishu</strong>
    </div>
    mori 是日文的「森林」，在這座充滿可愛力量的森林裡，隱藏...
  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/mor1.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32614">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    Mori Shu和紙膠帶-包子貓西瓜款(綠)
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/mor2.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32613">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   Mori Shu和紙膠帶-包子貓牛奶款(紅)
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/mor3.jpg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32608">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    Mori Shu和紙膠帶-麻糬兔ABC字母款(黃)
  </div>
</div>




<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">&nbsp;
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone people">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/shangi.co" style="background: url('img/two/sha.jpg') center center no-repeat; background-size: 120px;" data-adaptive-background data-ab-css-background>
    </a>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="meta">
      <strong>Shangi.co</strong>
    </div>
    柴、米、油、鹽、
醬、醋、茶、油、
梅這回事


  </div>
</div>


<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/sha1.jpeg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32692">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    祥記紫蘇梅包
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/sha2.jpeg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32696">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
   祥記梅，糖（ 硬的！）
  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-phone product full-card" data-original="img/two/sha3.jpeg" style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" href="https://solda.io/products/32698">
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
    祥記梅子漿
  </div>
</div>

