<div class="week-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
  <h1 class="mdl-typography--display-1">
    好物第三期<br><small>繽紛多一點！Cuter is Better !</small>
  </h1>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/151588/medium_thumb_cfe8e8909040b5e43c3716dfa07b87.png"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/41693"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

服飾☀設計款代購 軍風大衣厚實感十足


  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/151616/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/41697"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

我是虱目魚


  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/110397/medium_thumb_2d476205c466c12d186905e4f51a68.JPG"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/31337"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

台灣原創紙膠帶-永恆的樂園-作者HI. I am 米喵


  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/150602/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/41475"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

<SWEEMIA水咪呀>寶石方塊-歐美風格T字磁扣手環-咖啡情人


  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/150788/medium_thumb_f2fe5804385803b6f7e8aded5b3c7a.JPG"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/41522"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

超可愛羊毛氈松果葉子古銅別針


  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/143945/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/39951"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

11/17抹茶牛奶抹醬(預購)


  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/140118/medium_thumb_fb23ec4a59c3b2185d1616da0084c2.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/9221"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

極香港式蘿蔔糕 - 臘腸口味


  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/90542/medium_thumb_23ff73eb7658693fc88a752ee2725c.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/25434"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

無臉男無臉男


  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/48491/medium_thumb_a0a61596672f59c8697a7ba2fe077b.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/13673"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

文鳥鮮菇粉 17g/罐


  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/40185/medium_thumb_4c650065fa4982992c6fa54cf2e599.png"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/11483"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

[貼紙] 歐姆太陽好吃


  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/151527/medium_thumb_5a2e05e8225beffadda6745d01bda4.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/41680"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

手工925純銀【雪貂戒指Ferret ring】我是不會讓你離開我的！！(抱


  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/143144/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/39737"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

2015耶誕卡片套組+限量附贈明信片


  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/74118/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/20917"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
日系V領細肩帶蕾絲連身褲 森林系 連身裙 渡假風 Vii&co 波希米亞



  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/50892/medium_thumb_0c3f7fd5e511f04d75fc3bc48bc614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/14358"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
🔸全新🔸手繪鬥牛犬圖案圓領上衣



  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/149437/medium_thumb_f46eed50dea50537faa22bed42b295.png"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/41190"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

服飾☀1120 復古毛呢蓬蓬裙☀紅色款


  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/141884/medium_thumb_98352c4395d40c89cbef2030c4694f.JPG"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/39437"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

【謎呀呼】鳥主人 捕夢網 掛飾 吊飾(可客製)


  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/23273/medium_thumb_c43029c44f145fe49c418bce26b26c.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/6321"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

白色聖誕節 / zakka 極地系列手工玻璃杯 北極熊 透明情侶水杯 350ml


  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/143298/medium_thumb_921e3b84cbbf53edf62465a6a1d5b2.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/39763"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

Zakka風✨森林原木聖誕擺設裝飾


  </div>
</div>





<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/147063/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/40603"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

動物掛勾 很大很真實！


  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/96342/medium_thumb_df0fcb72d51bbaad7fc6a57ed5bf2a.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/27412"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
🍩超萌松鼠 餅乾模、收涎餅乾、不鏽鋼餅乾模具、4件組套裝



  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/1955/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/450"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

日式透明耐熱玻璃杯 麋鹿deer


  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/134525/medium_thumb_8d34ea0b1893dc86d6d9f1fcd0cbd9.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/37427"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

:: 小花磚 :: 閃亮的星(藍+紫)。貼耳耳環


  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/145377/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/40186"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

A04000聖母瑪麗鐵牌/木珠/黃銅手鍊手繞兩圈


  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/40472/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/11573"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
繽紛編織麻花混色腳繩 / 衝浪腳繩 - 三色蠶絲蠟線 ( 客製化 )



  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/114515/medium_thumb_b12b912cb2c73d583db9190b52490a.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/32339"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

紋路之山脈No01


  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/67289/medium_thumb_cb27dfb72c39e8341097118ddba4bc.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/18880"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

∴商人藝術家∵ 錶-花札系列(1~6月)


  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/127620/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/35849"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

深藍抹胸燕尾小洋裝


  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/92001/medium_thumb_81c4ea49e51647a71f14145f70b554.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/25900"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

：：櫻色經過的風景：：寬版洋裝


  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/64789/medium_thumb_c4d0d5de8237794fa848bbf71b6bc3.png"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/18275"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

雪紡洋裝裙


  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/45996/medium_thumb_b5dadc9dabfb390de9c04fe0ea07cc.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/13077"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

大嘴鳥森林荷葉領洋裝


  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/124459/medium_thumb_9b9857054acaea541efdfb3804bcae.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/34946"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

☁ standard girl ☁ 彩繪森林點點洋裝 日系


  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/132323/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/36899"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

檸檬乳酪蛋糕 6寸


  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/34484/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/1602"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

南法鄉村鹹肉


  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/136161/medium_thumb_4a8df3f74d389dcce24b980c5f0506.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/37837"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
【澎湖風味鹽】胡蘿蔔口味



  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/144230/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/40008"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

✨小王子✨6元～夜光明信片30張


  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/66952/medium_thumb_bfd49018217a00631327689a6dbb7f.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/18829"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

可愛 Bear Papa 棘輪起子組(共4色可選)


  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/78760/medium_thumb_2b8e59105453d2c29b4731cafa2d3a.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/22127"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
原創動物筆記本/Take a picture!系列(長頸鹿款)



  </div>
</div>










<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/146872/medium_thumb_4ae332d78127dd8877963da7cc50c9.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/40569"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

Quote X 富美SQUARE方型剪刀


  </div>
</div>




































<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/68203/medium_thumb_9eb39b76c62099012174ca4171d650.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/9799"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

3D LED小夜燈 - 迷路麋鹿

  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/114489/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/32329"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

草11弄-「龍貓森林」

  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/90330/medium_thumb_a51af71261e0775b647be3dad620ed.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/25368"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

紙箱鬆獅

  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/132394/medium_thumb_9d6578718f9a6d78b8e581b1289427.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/36954"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

BRUNO 療癒系動物造型音響 貓咪

  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/114657/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/32375"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

飛向天際

  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/81913/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/23001"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

Contract Color series

  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/73267/medium_thumb_1a84c4e8c02955a4cc312317e9717b.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/20672"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

動物刺繡項鍊 鎖骨鍊

  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/12179/medium_thumb_56c1105509a4f6109950530e46940b.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/3166"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

【CaitSith】幸福元氣喵活戒

  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/40185/medium_thumb_4c650065fa4982992c6fa54cf2e599.png"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/11483"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

[貼紙] 歐姆太陽好吃

  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/3636/medium_thumb_ed20bb067b04442925fe01c26f96dc.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/880"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

「芝諾」哲學家的小貓

  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/87480/medium_thumb_852c83848475a814dd113bd2c78e46.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/24543"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

[I HEART GUTS] PLUSH ORGANS Tooth Plush - Flossin' Ain't Jus 牙齒玩偶

  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/31607/medium_thumb_40d605dc89ffe3492ecba628959658.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/8852"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

Safari 貓熊全身花紋造型地墊

  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/145169/medium_thumb_86208bc171aa69c8f8a168f6cc0a9a.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/40150"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

尼泊爾手做 羊毛氈 魚兒 零錢包

  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/143769/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/39882"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

手工編織壽司組

  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/143735/medium_thumb_30348bc4328c26ad8d7d449c7b03e0.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/39875"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

斑斑點點純銀戒指-永結童心

  </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/142545/medium_thumb_9dafd774fb698ca50e0d62258e55a1.JPG"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/39586"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

銀色聖誕玻璃球項鍊--【頂上蒼穹的貓】(聖誕來臨前暖暖價11/10~12/31)

  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/142299/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/39525"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">
看著你 徽章

  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/141830/medium_thumb_d1070d7d0959c25007fb1ee4b42083.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/39426"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

【謎呀呼】(一對入)原創手工黑文鳥+白文鳥麻糬娃娃 情人節 婚禮禮品

  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/78928/medium_thumb_adbe2abdf8b4a81145e44b82721fc1.png"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/22207"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

★NEW★ 童話彩色壁貼 - 愛麗絲01

  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/138999/medium_thumb_e31df6ca67b7e6390cb4e019f9a614.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/38583"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

新鮮荷包蛋-鋼針耳環

  </div>
</div>



<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet product full-card"

data-original="https://solda-production.s3-ap-northeast-1.amazonaws.com/uploads/image/image/84071/medium_thumb_21766b8aff242eb333f7ff4bbd529a.jpg"

 style="background-image: url('img/placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="mdl-card__media product-image">
    <a target="_blank" 

    href="https://solda.io/products/23671"

    >
    
    </a>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--white">

【幸福果舖 TASTE SWEETY】四季水果乾-好事成雙禮盒組

  </div>
</div>



